.game-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/green-felt.jpg');
    width: 90%;
    height: 70vh;
    border-radius: 200px;
    border: rgb(27, 27, 27) 10px solid;
}

.dealers-cards-div {
    margin: 0px 0px 50px 0px;
}

.card-img {
    max-height: 20vh;
    width: auto;
}

.sideways-double-card {
    max-height: 20vh;
    width: auto;
    transform: rotate(90deg);
}

h1 {
    color: aliceblue;
    text-align: center;
}

/* .card-img-animation {
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: flipInY;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
} */