body {
    background-image: url('./images/leather-texture.jpg');
    /* background-size: cover; */
    /* overflow: hidden; */
    font-family: 'Secular One', sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 48px;
    margin: 0px;
}

.app-header {
    margin-top: 15px;
    width: 100%;
    /* padding-right: 10vw;
    padding-left: 10vw; */
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p, .pending-bet-div {
    color: aliceblue;
}

.pending-bet-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.205);
    padding-left: 10px;
    border-radius: 6px;
}

.game-result-div {
    height: 10vh;
    width: 90%;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    /* align-items: center; */
}

.betting-options {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    width: 90%;
}

.betting-option {
    border-radius: 4px;
    margin-left: 5px;
    height: 4vh;
    border: none;
    font-size: 14px;
    width: 5.3vw;
}

.inner-betting-options {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bet-button {
    height: 100%;
    border-radius: 60px;
    /* margin: 0px 30px; */
}

.bet-button:hover {
    background-color: rgb(94, 248, 23);
    border-radius: 60px;
    /* border: 2px solid gold; */
    cursor: pointer;
}

.bet-button:active {
    background-color: rgba(94, 248, 23, 0.5);
    border-radius: 60px;
    /* border: 4px solid rgb(124, 199, 11); */
    cursor: pointer;
}

.betting-option:focus, .reset-button:focus {
    outline:none;
}

.betting-option:active {
    border-color: transparent !important;
    outline:none;
}

.reset-button {
    margin-right: 10px;
    height: 4vh;
    border-radius: 4px;
}

.pending-bet {
    font-size: 36px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chip-count {
    font-size: 36px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.205);
    padding-left: 10px;
    border-radius: 6px;
}

.chip-number {
    font-size: 48px;
    margin: 0px;
    margin-left: 5px;
    margin-right: 15px;
    width: 20vh;
    text-align: left;
}

#ready-to-start {
    background-color: rgba(7, 201, 7, 0.932);
    border: none;
    cursor: pointer;
}

#not-ready {
    color: rgb(180, 180, 180);
}

#attention-red {
    color: rgba(231, 23, 23, 0.932);
}

#normal-text {

}

@media only screen and (min-width: 300px) and (max-width: 767px) {
    .app {
        width: 100vw;
    }

    .pending-bet-div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin: 5px;
        background-color: rgba(255, 255, 255, 0.205);
        padding-left: 10px;
        border-radius: 6px;
        width: 90vw;
    }

    .app-header {
        margin-top: 5px;
        width: 100vw;
        flex-direction: column;
    }

    .title {
        font-size: 18px;
        margin: 0px;
    }

    .chip-number {
        font-size: 18px;
        /* margin: 0px; */
        /* margin-left: 5px; */
        /* margin-right: 15px; */
        /* width: 20vh; */
        text-align: right;
    }

    .chip-count {
        font-size: 18px;
        width: 90vw;
        /* padding: 0px; */
        justify-content: flex-start;
    }

    .pending-bet {
        font-size: 18px;
    }

    .game-result-div {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 5px;
        align-items: center;
    }

    .bet-button {
        height: 50px;
        border-radius: 60px;
        /* margin: 0px 30px; */
    }

    .betting-option {
        border-radius: 4px;
        margin-left: 5px;
        margin-top: 5px;
        height: 4vh;
        border: none;
        font-size: 14px;
        width: fit-content;
        height: auto;
    }

    .inner-betting-options {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
    .pending-bet-div {
        justify-content: space-between;
    }

    .app-header {
        margin-top: 5px;
        width: 100vw;
        flex-direction: column;
    }

    .title {
        font-size: 24px;
    }

    .chip-number {
        font-size: 18px;
        /* margin: 0px; */
        /* margin-left: 5px; */
        /* margin-right: 15px; */
        /* width: 20vh; */
        text-align: right;
    }

    .chip-count {
        font-size: 18px;
        width: 90vw;
        /* padding: 0px; */
        justify-content: flex-start;
        position: relative;
    }

    .pending-bet {
        font-size: 18px;
    }

    .game-result-div {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 5px;
        align-items: center;
    }

    .bet-button {
        height: 50px;
        border-radius: 60px;
        /* margin: 0px 30px; */
    }

    .betting-option {
        border-radius: 4px;
        margin-left: 5px;
        margin-top: 5px;
        height: 4vh;
        border: none;
        font-size: 14px;
        width: fit-content;
        height: auto;
    }

    .inner-betting-options {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    .restart-button {
        position: absolute;
        right: 5px;
        bottom: 4px;
    }

    .reset-button {
        margin-right: 5px;
        height: auto;
    }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {

}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
    
}