body {
    background-image: url('./images/leather-texture.jpg');
    /* background-size: cover; */
    overflow: hidden;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-header {
    text-align: center;
}

p {
    color: aliceblue;
}

.game-result-div {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.betting-options {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}